/* About section */
.main {
  background-color: #0c0c15;
  padding: 8rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: #d0c7b6;
  width: 100%;
}

.main__content:hover h1 {
  letter-spacing: 8px;
}

.main__content span {
  color: #b5363c;
}

.main__content h1 {
  font-size: 3.5rem;
  background-color: #567759;
  background-image: linear-gradient(to top, #b5363c 0%, #848c85 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: 3s;
}

.main__content h2 {
  font-size: 2rem;
  /* font-size: 50px; */
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9a8478 0%, #9a8478 100%);
  background: #657866;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.main__content p {
  line-height: 2.25rem;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: #d0c7b6;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 450px;
  width: 450px; /* 350px for good size without #main__img */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d0c7b6;
  background-image: linear-gradient(to top, #272f2b 0%, #848c85 100%);
  transition: all 1s ease;
}

/* Growth of pic */
.main__img--card:hover {
  transform: scale(1.055);
  transition: 0.55s ease-in;
  cursor: pointer;
}

/* Media Responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 1.75rem;
  }

  .main__content p {
    margin-top: 1.75rem;
    font-size: 1.20rem;
  }
}

/* Smaller devices - MR */
@media screen and (max-width: 480px) {
  .main__img--card {
    height: 250px;
    width: 250px;
  }

  .main__img {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 1.5rem;
  }

  .main__content p {
    font-size: 1.75rem;
    margin-top: 2.5rem;
  }
}