/* projects section */
.projects {
  background: #000000;
  background: linear-gradient(to top right, #304352, #d7d2cc);
  padding: 10rem 0;
  /* background-image: linear-gradient(to bottom, #141414 0%, #304352 50%, #141414 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  background-color: #ff8177;
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9114ff 0%, #da22ff 100%);
  background: linear-gradient(to right, #414345 0%, #232526 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 3rem;
}

/* Slideshow container */
.slideshow-container {
  border-radius: 5rem;
  max-width: 1265px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  height: 80%;
  top: 13%;
  width: 20%;
  padding: 16px;
  margin-top: -22px;
  transition: 0.6s ease;
  border-radius: 0 150px 150px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  top: 13%;
  height: 80%;
  border-radius: 150px 0 0 150px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #606060;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #28313b;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}
