/* About section */

.main {
  background-color: #000000;
  padding: 8rem 0;
}

.main__container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img1 {
  width: 100%;
}

.about {
  width: 100%;
  height: 80%;
  max-width: 98rem;
  padding: 5rem;
  background: #000000;
  /* background: linear-gradient(to top, #0A0806 0%,  #000000 100%); */
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.about--title {
  font-size: 1.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #fff;
}

.about--text {
  font-size: 1rem;
  margin-bottom: 4rem;
  line-height: 1.5rem;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .about {
    max-width: 70rem;
    background: #000000;
    /* background: linear-gradient(to right, #000000 0%, #0A0806 100%); */
  }

  .about--img {
    min-width: 30rem;
    max-width: 30rem;
    height: 100%;
  }
}

@media screen and (max-width: 868px) {
  .about {
    max-width: 70rem;
    /* background: linear-gradient(to bottom, #000000 0%, #1f1f1f 100%); */
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 2.5rem;
    flex-direction: column;
  }

  .about--img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
}
